.list-page {
  display: flex;
  height: 100%;

  .list-container {
    flex: 3;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding-bottom: 100px;
    }
  }
  .map-container {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;
  }
}
